*{padding:0;margin:0;}
body {
    margin: 0 auto;
    width:  1260px;
    height: 940px;
    background-color: #EDF2C5;
}
.page{
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 35px;
    height: 880px;
}
h1{
    margin-top: 53px;
    margin-bottom: 8px;
    font-family: Arial Black;
    font-size: 44px;
    color: #778A50;
    float: left;
}
.fb-logo{
    margin-top: 77px ;
    margin-bottom: 17px;
    float: right;
}
.fb-logo a {
    float: left;
    color: #778A50;
    height: 25px;
    margin-left: 10px;
    font-family: Arial BoldMT;
    font-size: 14px;
}
.line1{
    float: left;
    height: 25px;
    margin-left: 10px;
    border-left: 1px #778A50 solid;
}
.loginbox {
    border: 1px solid #778A50;
    border-radius: 3px;
    width: 60px;
    height: 25px;
    text-align: center;
    vertical-align:middle;
    line-height: 25px;
    text-decoration: none;
}

.joinbox{
    border: 1px solid #778A50;
    border-radius: 3px;
    width: 50px;
    height: 25px;
    text-align: center ;
    vertical-align:middle;
    line-height: 25px;
    text-decoration: none;
}

ul {
    width:940px;
    height: 44px;
    border: 1px;
    margin-bottom: 20px;
    border-radius: 3px;
    list-style-type: none;
    background-color: #778A50;
}
li {
    padding: 10px 30px 16px ;
    float: left;
}
li a{
    color: #EDF2C5;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial Black;
}
.content{
    height:448px;
}
.middle-img{
    margin-bottom: 30px;
}
.vegetable{
    float:left;
}
.bar{
    width:445px;
    height: 45px;
    border-radius:3px;
    margin-bottom: 15px;
    background-color: #778A50;
}
.bar p{
    color: #EDF2C5;
    padding: 11px 0px 11px 30px;
    font-size: 16px;
    font-family: Arial Black;
}

.vegetable .left-img,.mid-img{
    float:left;
    margin-right:12px;
}

.bar2{
    border-radius:3px;
    float:right;
    width:445px;
    height: 45px;
    border: 1px ;
    background-color: #778A50;
    margin-bottom: 15px;
}
.bar2 h2{
    color: #EDF2C5;
    padding: 11px 0px 11px 30px;
    font-size: 16px;
    font-family: Arial Black;
}
.for{
    width: 445px;
    height:140px;
    border: 1px ;
    border-radius:3px;
    float:right;
    background-color: #F7FBDA;
}
.for p{
    font-size: 12px;
    padding: 16px 15px ;
    font-family: ArialMT Regular;
    line-height: 1.33;
    color:#7D7D7D;
}
.for .line2{
    border-bottom: 1px #7D7D7D solid;
    width: 414px;
    margin-left: 15px;
    margin-right: 15px;
}
.email{
    font-size: 12px;
    padding: 16px 15px ;
    font-family: ArialMT Regular;
    line-height: 1.83;
    color:#7D7D7D;
}
footer{
    width:1264px;
    height: 60px;
    background-color: #778A50;
}
footer p{
    padding:24px 479px 25px;
    font-size: 12px;
    font-family: ArialMT Regular;
    color: #EDF2C5;
}
.clear{
    clear: both;
}
